<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:dist="http://schemas.android.com/apk/distribution"
  package="com.techmesystem.intera">

  <dist:module dist:instant="true" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">

    <activity
      android:name=".SplashActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Launcher">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".LoginActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".home.ui.HomeActivity"
      android:screenOrientation="portrait"
      android:exported="true"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustPan" />

    <activity
      android:name=".BiometricActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".productdetail.ui.ProductDetailActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".compareandprove.ui.CompareAndProveActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".compareandprove.ui.PriceHistoryActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".checkout.ui.CheckoutActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".profile.ui.PersonalDataActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".request.ui.RequestsActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".request.ui.RequestDetailActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".help.ui.HelpActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".checkout.ui.OrderSummaryActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".checkout.ui.OrderStatusActivity"
      android:configChanges="keyboardHidden"
      android:windowSoftInputMode="adjustResize"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar" />

    <activity
      android:name=".favorite.ui.FavoriteActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".notification.ui.NotificationActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".payment.ui.FormOfPaymentActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".payment.view.CardDataActivity"
      android:configChanges="keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".profile.ui.AddMoneyActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".payment.ui.FormOfPaymentWithProductActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".auth.ui.RegisterActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".profile.ui.AddressActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".profile.ui.ProductHistoryActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize" />

  </application>

</manifest>